{% extends "welcome/base.html" %}
{% block title %}Jon Downs Code Portfolio{% endblock %}
{%block content %}
  <html>
    <head>
      <meta charset="utf-8">
      <title>Jon Downs's Code Portfolio</title>
    </head>
    <body>
      <h1>Jon Downs: Data Scientist</h1>
      <p>Hello, and welcome to my page. My name is Jon Downs, and I am an
      epidemiologist by training. In graduate school, I discovered a knack for
      SAS programming. In my career, I have picked up R and SQL.
      Now, I'm trying my hand at Python, CSS, HTML, and (hopefully!)
      Javascript.</p>

      <p>
        This webpage, developed in Python's Django framework, is itself one of my
        learning projects. I hope to conduct some of my upcoming planned analyses
        in Python and distribute them through this website to showcase my talents.

        I hope readers can learn as much as I have through this work!
      </p>
    </body>
  </html>
{% endblock %}
