{% extends "welcome/base.html" %}
{% block title %}Projects{% endblock %}
{%block content %}
  <html>
    <head>
      <meta charset="utf-8">
      <title>Projects</title>
    </head>
    <body>
      <h1>Projects</h1>
        <h2>Free Code Camp</h2>
        <ul>
          <li><a href="/projects/tribute">Tribute Page</a></li>
          <li><a href="/projects/survey">Survey form</a></li>
          <li><a href="/projects/product">Product Landing</a></li>
          <li><a href="/projects/techdoc">Technical Document</a></li>
        </ul>
    </body>
  </html>
{% endblock %}
