.sidebar {
      height:100%;
      width:140px;
      position: fixed;
      z-index:1;
      top:0;
      left:0;
      overflow-x: :hidden;
      padding-top:50px;
      background-color:#000000;
}
.sidebar a {
  color:white;
}
.sidebar ul {
  list-style: none;
  margin: 15px;
  padding-left: 15px;
}
.sidebar li::before {
  content: "• ";
  color: white; /* or whatever color you prefer */
}

.main {
  position: fixed;
  top:0;
  height:100%;
  left:141px;
  overflow-x: :hidden;
  padding-top:20px;
  padding-left:15px;
  background-color:#BEBEBE;
}
.main h1 {
    color: #FF7300;
}
